body{
    padding: 0;
    margin: 0;
    background-color: rgb(243, 245, 247);
}

header{
    display: flex;
    background-color: rgb(182, 225, 253);
    height: 180px;
    width: 100%;
}

.col-50{
    display: flex;
    width: 50%;
}

.imglogo{
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
}

.imglogo img{
    height: 250px;
    width: 250px;
}

.containerlink{
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: end;
    align-items: center;
}

.containerlink a{
    text-decoration: none;
    color: rgb(0, 0, 70);
    font-size: 25px;
    width: 40px;
    
}

.containerlink a:hover{
    color: rgb(246, 246, 248)
}

/*  NAV */

nav{
    display: flex;
    width: 100%;
    height: 40px;
    background-color: rgb(0, 0, 70);
}

.containernav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.containernav a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: rgb(182, 225, 253);
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
}

.containernav a:hover{
    color: rgb(243, 245, 247);
}
